// Import custom fonts from Google
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

// Override Bootstrap's font styling
$font-family-sans-serif:  'Lato', sans-serif;
$font-family-base:        $font-family-sans-serif;
$headings-font-weight:    700;

/*ABOVE THIS IS THE TEAMS CODE, BELOW THIS COMMENT IS MY OWN*/
//theme colours
$color1: #F0433A;
$color2: #C9283E;
$color3: #820333;
$color4: #540032; 
$color5: #540032;
$color6: #820333;

/*$color5: #2666A6;
$color6: #153759;*/