// Import custom fonts from Google
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

// Override Bootstrap's font styling
$font-family-sans-serif:  'Lato', sans-serif;
$font-family-base:        $font-family-sans-serif;
$headings-font-weight:    700;