@import 'theme';
@import 'bootstrap/bootstrap';

// your styles here (note that you can use Bootstrap variables from _variables.scss in here too)
.example {
  color: red;
  background-color: $purple;
}